body{
    background: rgb(60, 68, 82);    
    font-family: Roboto, sans-serif;
    margin: 0;
    overflow-x: hidden;
    color: #96a2b4;
    font-weight: 300;
}
.bot-left{
    float: left;
    width: 220px;
    background: #353c48;
    min-height: 950px;

}
.bot-body{
    width:calc(100% - 220px);
    min-height: 950px;
    float: left;
    padding-left: 25px;
}

.bot-logo{
    height: 40px;
    padding: 10px;
}
.bot-logo a:hover{
    color: #99c5bf;
    text-decoration: none;
}
.bot-logo img{
    max-height: 37px;
    float:left;
    margin-top: -3px;
}
.bot-logo header{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 35px;
    font-weight: 200;
    margin-left: 45px;
    color: #99c5bf;
}

.bot-menu{
    margin-top: 16px;
}

.bot-menu a{
    display: block;
    border-left: 4px solid #353c48;
    height: 45px;
    color: #99c5bf;
    font-size: 15px;
    line-height: 45px;
    padding: 0 15px;
}
.bot-menu a:hover, .bot-menu a.active{
    color: #99c5bf;
    border-left:4px solid #99c5bf;
    text-decoration: none;
    background: #313843;

}
.bot-body-top-panel{
    background: #4c5667;
    padding: 10px 10px 10px 30px;
    height: 56px;
    margin-left: -25px;
}
.breadcrumbs{
    line-height:32px;
    font-size:20px;
}
h3{
    line-height: 32px;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 200;
    margin-top: 10px;
}